/node_modules
/public/hot
/public/storage
/public/img/postponed
/public/img/teams
/public/img/tournaments
/frontend/node_modules
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
